.react-calendar {
  width: 350px;
  max-width: 100%;
  background: transparent;
  /* border: 1px solid rgba(34, 34, 34,0.7); */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 1rem;
  overflow: hidden;
  color: white;
  background-color: rgba(34, 34, 34,0.7);
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  /* background-color: #f0f0f0; */
  color: transparent;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #FAFAFA;
    color: #111111;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #FF2265 !important;
}

.react-calendar__tile {
  border-radius: 0.3rem;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #444 !important;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}



.react-calendar__tile:disabled {
  /* background-color: #f0f0f0; */
  opacity: 0.5;
}

.react-calendar__tile:enabled:hover {
  background-color: #FAFAFA;
  color: #111111;
}

.react-calendar__tile--now {
  background: #22FFBC;
}

/* .react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
} */

/* .react-calendar__tile--hasActive {
  background: #76baff;
} */

/* .react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
} */

/* .react-calendar__tile--active {
  background: #006edc;
  color: white;
} */

/* .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
} */

/* .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
} */

/* Custom colours */

.leave-day{
  background-color: #00ABFF;
}

.sick-day {
  background-color: #FFFF22;
}

.selected-day {
  background-color: #00ABFF;
}