:root {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color:#171717;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow: hidden;
}

/* Calender heatmap */

.react-calendar-heatmap .color-scale-1 {
  fill: blue;
}
.react-calendar-heatmap .color-scale-2 {
  fill: yellow;
}
.react-calendar-heatmap .color-scale-3 {
  fill: red;
}
.react-calendar-heatmap .color-scale-4 {
  fill: green;
}

.react-calendar-heatmap-weekday-label {
  font-size: 0.5rem;
  fill: #eee;
}

.react-calendar-heatmap-month-label {
  font-size: 0.5rem;
  fill: #eee;
}

.react-calendar-heatmap {
  top: 1.6rem;
  right: 0.8rem;
  position: relative;
}

/* Timeline */
canvas {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

/* Time picker */