:root {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;

  color: white;
  background-color:#171717;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  position: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow: hidden;
}

/* Calender heatmap */

.react-calendar-heatmap .color-scale-0 {
  fill: transparent;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #222222;
  opacity: 0.5;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #22FFBC;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #FFFF22;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #FF2265;
}

.react-calendar-heatmap-weekday-label {
  font-size: 0.5rem;
  fill: #eee;
}

.react-calendar-heatmap-month-label {
  font-size: 0.5rem;
  fill: #eee;
}

.react-calendar-heatmap {
  top: 1rem;
  right: 0.3rem;
  position: relative;
}



/* Time picker */