:root {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  width: 100vw;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




